{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#76cef1" />
    <meta property="og:image" content="{% static 'images/home/83357bizbook-white.png' %}" />
    <meta name="description" content="Online Research Output Archive and Directory">
    <meta name="keyword" content="Online Research Output Archive and Directory">
    <!--== FAV ICON(BROWSER TAB ICON) ==-->
    <link rel="shortcut icon" href="{% static 'images/fav.ico' %}" type="image/x-icon">
    <!--== GOOGLE FONTS ==-->
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:300,400,600,700&amp;display=swap"
        rel="stylesheet">
    <!--== WEB ICON FONTS ==-->
    <link rel="preload" as="font" href="{% static 'css/icon.woff2' %}" type="font/woff2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--== CSS FILES ==-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader 
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>-->

    <!-- START -->
    <section>
        <div class="str">
            <div class="hom-head" style=" background-image: url('{{ static }}/static/images/smcti-library.jpg')">
                <div class="hom-top">
                    <div class="container">
                        <div class="row">
                            <div class="hom-nav ">
                                <!--MOBILE MENU-->
                                <a href="/dashboard" class="top-log"><img src="{% static 'images/home/smcti-logo.png' %}" alt=""
                                        style="height: 40px; width: 110px;" class="ic-logo"></a>
                                <div class="menu">
                                    <h4>All Category</h4>
                                </div>
                                <div class="pop-menu">
                                    <div class="container">
                                        <div class="row">
                                            <i class="material-icons clopme">close</i>
                                            <div class="pmenu-spri">
                                                <ul>
                                                    <li><a href="all-category.html" class="act"><img
                                                                src="{% static 'images/icon/shop.png' %}">All
                                                            Services</a>
                                                    </li>
                                                    <li><a href="events.html"><img
                                                                src="{% static 'images/icon/calendar.png' %}">Events</a>
                                                    </li>
                                                    <li><a href="all-products.html"><img
                                                                src="{% static 'images/icon/cart.png' %}">Products</a>
                                                    </li>
                                                    <li><a href="coupons.html"><img
                                                                src="{% static 'images/icon/coupons.png' %}">Coupon
                                                            & deals</a></li>
                                                    <li><a href="blog-posts.html"><img
                                                                src="{% static 'images/icon/blog1.png' %}">Blogs</a>
                                                    </li>
                                                    <li><a href="community.html"><img
                                                                src="{% static 'images/icon/11.png' %}">Community</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="pmenu-cat">
                                                <h4>All Categories</h4>
                                                <input type="text" id="pg-sear" placeholder="Search category">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--END MOBILE MENU-->
                                <ul class="bl">
                                    {% load auth_extras %}
                                    {% if request.user|has_group:"Research Office" %}
                                        <li><a href="/add_research">Add Research</a></li>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <li><a href="/logout">Logout</a></li>

                                    {% else %}
                                        <li><a href="/login">Sign in</a></li>
                                        <li><a href="/signup">Create an account</a></li>
                                    {% endif %}
                                    
                                </ul>
                                <!--MOBILE MENU-->
                                <div class="mob-menu">
                                    <div class="mob-me-ic"><i class="material-icons">menu</i></div>
                                    <div class="mob-me-all">
                                        <div class="mob-me-clo"><i class="material-icons">close</i></div>
                                        <div class="mv-bus">
                                            <h4></h4>
                                            <ul>
                                                <li><a href="pricing-details.html">Add business</a></li>
                                                {% if request.user.is_authenticated %}
                                                    <li><a href="/logout">Logout</a></li>
                                                {% else %}
                                                    <li><a href="/login">Sign in</a></li>
                                                    <li><a href="/signup">Create an account</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="mv-cate">
                                            <h4>All Categories</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--END MOBILE MENU-->
                            </div>

                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock %}

            </div>
        </div>
    </section>
    <!-- END -->
    <style>
        .hom-top {
            transition: all 0.5s ease;
            background: none;
            box-shadow: none;
        }

        .top-ser {
            display: none;
        }

        .dmact .top-ser {
            display: block;
        }

        .caro-home {
            margin-top: 90px;
            float: left;
            width: 100%;
        }

        .carousel-item:before {
            background: none;
        }
    </style>
</body>