{% extends "main/base.html" %}
{% load static %}
{% load auth_extras %}
{% block title %}Programs{% endblock %}

{% block content %}

<!-- START -->
<section>
    <div class="container">
        <div class="row">
          <div class="ban-tit">
            <h1>
              <b>Program Research Output Summary<br></b>Find any summarized research ouputs by program.
            </h1>
          </div>
          <div class="ban-search">
            <form method="get" name="filter_form" id="filter_form" class="filter_form">
              <ul>
                <li class="sr-sea">
                  <input type="text" autocomplete="off" name="q" id="id_q" placeholder="Search for titles and programs..."
                    class="search-field">
                </li>
                <li class="sr-btn">
                  <input type="submit" id="filter_submit" name="filter_submit" value="Search" class="filter_submit">
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
</section>
<!--END-->

<!-- START -->
<section class=" blog-body" id="enduser">
    <div class="container">
        <div class="us-ppg-com us-ppg-blog">
            <ul id="intseres" class="blog-wrapper">
                {% for res in res_out %}
                {% for out in res.author.all %}
                {% if forloop.counter <= 12 %}
                <li class="blog-item">
                  <div class="pro-eve-box">
                      <div>
                        <img src="{{ res.image.url }}" alt="">
                      </div>
                      <div>
                        <p>{{ res.date_created }}</p>
                        <h2>{{ res.title }}</h2><hr>
                        <h2>{{ out.program.program_type }}</h2>
                      </div>
                      <a href="{% url 'reports:reports_program' res.id %}" class="fclick">
                          &nbsp;</a>
                  </div>
              </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% if program_user_post %}
<section class=" blog-body">
  <div class="container">
      <div class="us-ppg-com us-ppg-blog">
          <ul id="intseres" class="blog-wrapper">
              {% for res in program_user_post %}
              {% for out in res.author.all %}
              <li class="blog-item">
                <div class="pro-eve-box">
                    <div>
                      <img src="{{ res.image.url }}" alt="">
                    </div>
                    <div>
                      <p>{{ res.date_created }}</p>
                      <h2>{{ res.title }}</h2><hr>
                      <h2>{{ out.program.program_type }}</h2>
                    </div>
                    <a href="{% url 'reports:reports_program' res.id %}" class="fclick">
                        &nbsp;</a>
                </div>
            </li>
              {% endfor %}
              {% endfor %}
          </ul>
      </div>

    <span style="color: white;">a</span>
    <div class="d-flex flex-column m-auto pagination mt-5">
      <nav aria-label="Page navigation">
        <ul class="pagination pg-grey justify-content-center">
          {% if program_user_post.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ 
              program_user_post.previous_page_number }}">&laquo; Previous</a>
          </li>
          {% endif %}

          {% for i in program_user_post.paginator.page_range %}
          {% if program_user_post.number == i %}
          <li class="page-item active"><a class="page-link">{{ i }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{i}}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if program_user_post.has_next %}
          <li class="page-item">
            <a class="page-link"
              href="?{% if query %}q={{query}}&{% endif %}page={{program_user_post.next_page_number}}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link"
              href="?{% if query %}q={{query}}&{% endif %}page={{program_user_post.paginator.num_pages}}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</section>
{% else %}
<section class=" blog-body">
  <div class="container">
      <div class="us-ppg-com us-ppg-blog">
        <div><br>
          <h2> No results for "{{query}}".</h2>
        </div>
      </div>
  </div>
</section>
{% endif %}
<!--END-->
<script>
  document.getElementById("id_q").value = "{{query}}"
  if (document.getElementById("id_q").value == "{{query}}"){
    document.getElementById("enduser").style.display = "none";
  }else{
    document.getElementById("enduser").style.display = "block";
  }
</script>
{% endblock %}