{% extends "main/base.html" %}
{% load static %}
{% load auth_extras %}
{% block title %}Researchers{% endblock %}

{% block content %}

<!-- START -->
<section>
  <div class="container">
    <div class="row">
      <div class="ban-tit">
        <h1>
          <b>All Researchers<br></b>Find any researchers.
        </h1>
      </div>
      <div class="ban-search">
        <form method="get" name="filter_form" id="filter_form" class="filter_form">
          <ul>
            <li class="sr-sea">
              <input type="text" name="q" id="id_q" autocomplete="off" placeholder="Search for name of researchers..."
                class="search-field">
            </li>
            <li class="sr-btn">
              <input type="submit" id="filter_submit" name="filter_submit" value="Search" class="filter_submit">
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>
<!--END-->

<!-- START -->
<section class=" blog-body" id="enduser">
  <div class="container">
    <div class="us-ppg-com us-ppg-blog">
      <ul id="intseres" class="blog-wrapper">
        {% for end in end_user %}
        {% if forloop.counter <= 12 %} <li class="blog-item">
          <div class="pro-eve-box">
            <div>
              <img src="{{ end.profile_image.url }}" alt="">
            </div>
            <div>
              <p>{{ end.program.program_type }}</p>
              <h2>{{ end.first_name }} {{ end.middle_name }} {{ end.last_name }}</h2>
            </div>
            <a href="{% url 'reports:reports_researcher' end.id %}" class="fclick">
              &nbsp;</a>
          </div>
          </li>
          {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
</section>


{% if end_user_post %}
<section class=" blog-body" id="enduser">
  <div class="container">
    <div class="us-ppg-com us-ppg-blog">
      <ul id="intseres" class="blog-wrapper">
        {% for end in end_user_post %}
        <li class="blog-item">
          <div class="pro-eve-box">
            <div>
              <img src="{{ end.profile_image.url }}" alt="">
            </div>
            <div>
              <p>{{ end.program.program_type }}</p>
              <h2>{{ end.first_name }} {{ end.middle_name }} {{ end.last_name }}</h2>
            </div>
            <a href="{% url 'reports:reports_researcher' end.id %}" class="fclick">
              &nbsp;</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <span style="color: white;">a</span>
    <div class="d-flex flex-column m-auto pagination mt-5">
      <nav aria-label="Page navigation">
        <ul class="pagination pg-grey justify-content-center">
          {% if end_user_post.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ 
                  end_user_post.previous_page_number }}">&laquo; Previous</a>
          </li>
          {% endif %}

          {% for i in end_user_post.paginator.page_range %}
          {% if end_user_post.number == i %}
          <li class="page-item active"><a class="page-link">{{ i }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{i}}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if end_user_post.has_next %}
          <li class="page-item">
            <a class="page-link"
              href="?{% if query %}q={{query}}&{% endif %}page={{end_user_post.next_page_number}}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link"
              href="?{% if query %}q={{query}}&{% endif %}page={{end_user_post.paginator.num_pages}}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</section>

{% else %}
<section class=" blog-body">
  <div class="container">
    <div class="us-ppg-com us-ppg-blog">
      <div><br>
        <h2> No results for "{{query}}".</h2>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!--END-->

<script>
  document.getElementById("id_q").value = "{{query}}"
  if (document.getElementById("id_q").value == "{{query}}") {
    document.getElementById("enduser").style.display = "None";
  } else {
    document.getElementById("enduser").style.display = "block";
  }
</script>
{% endblock %}